.carrousel_inner ul li{
    float:left;
    list-style: none;
    margin: 0;
    width:200px;
    /*height:200px*/
}
.carrousel_inner ul{
    margin:0;
    padding:0;
    /*height:200px;*/
    width: 10000px;
    overflow:hidden;
}
.carrousel_inner{
    /* border:1px solid red; */
    /*float:left;*/
    max-width: 800px;
    height:150px;
    overflow: hidden;
	display: inline-block;
}
.carrousel_left, .carrousel_right{
    height: 150px;
    width:30px;
    /*float:left;*/
}
.carrousel_left{
    background: url(/images/right.png) no-repeat  left top;
	display: inline-block;
	vertical-align: top;
}
.carrousel_left:hover{
    background:url("/images/right.png") no-repeat scroll -50px top transparent
}
.carrousel_right{
    background: url(/images/left.png) no-repeat right top;
	display: inline-block;
	vertical-align: top;
}
.carrousel_right:hover{
    background: url(/images/left.png) no-repeat -70px top;
	display: inline-block;
}
.left_inactive,.left_inactive:hover{
    background: url(/images/right.png) no-repeat -100px top;
	display: inline-block;
}
.right_inactive,.right_inactive:hover{
    background: url(/images/left.png) no-repeat -20px top;
	display: inline-block;
}

.carrousel{
    height: 155px;
    margin: 0 auto;
    max-width: 960px;
	display:block;
	text-align: center;
}

/* demo page */
.container{
    max-width:960px;
    margin:0 auto;
	display:block;
}
.link{
     background-color: #4d1414;
    border: 3px solid gray;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    padding: 6px;
    text-decoration: none;
}
h1{
    margin-bottom:100px;
    font-family: Volkhov tahoma;
    border-bottom: 2px solid blueviolet;
    padding:5px;
    color:blueviolet;
    text-shadow:1px 1px black;
}

@media screen and (max-width: 1024px){
.carrousel_inner {
    max-width: 600px;
}
}
